<div class="row">
    <div class="col-md-12">
        <div class="list">
            <ul class="alignHorizental">
                <li>
                    <a routerLink="fromEvent">From-Event</a>
                </li>
                <li>
                    <a routerLink="interval">Interval and timer</a>
                </li>
                <li>
                    <a routerLink="fromEvent">From-Event</a>
                </li>
                <li>
                    <a routerLink="of-from">of and from</a>
                </li>
                <li>
                    <a routerLink="to-array">toArray</a>
                </li>
            </ul>
        </div>
    </div>
</div>